<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<title>Get Set Games Builds</title>
</head>
<body>

<h2>Get Set Games Builds</h2>

If you are installing on an iOS 7.1 or later device you must install the server root certificate.  Download it <a href="https://<%= @ssl_primary_ip %>:8443/<%= @vhost_hostname %>/server.crt">here</a>.

<h2>iOS</h2>
<h3>
<p>
	<ul>
		<li><a href="DungeonRunners.php">Dungeon Runners</a></li>
		<li><a href="Jamurai.php">Jamurai</a></li>
		<li><a href="MegaBlastiOS.php">Mega Blast</a></li>
		<li><a href="MegaJump.php">Mega Jump</a></li>
		<li><a href="MegaJump2.php">Mega Jump 2</a></li>
		<li><a href="MegaJumpPlus.php">Mega Jump Plus</a></li>
		<li><a href="MegaRun.php">Mega Run</a></li>
		<li><a href="MegaRunPlus.php">Mega Run Plus</a></li>
		<li><a href="MegaSplash.php">Mega Splash</a></li>
		<li><a href="MonstersRun.php">Monsters Run</a></li>
		<li><a href="TaikoiOS.php">Taiko</a></li>
	</ul>
</p>
</h3>

<h2>Android</h2>
<h3>
<p>
	<ul>
		<li><a href="DungeonRunnersAndroid.php">Dungeon Runners</a></li>
		<li><a href="JamuraiAndroid.php">Jamurai</a></li>
		<li><a href="MegaBlastAndroid.php">Mega Blast</a></li>
		<li><a href="MegaJumpAndroid.php">Mega Jump</a></li>
		<li><a href="MegaJump2Android.php">Mega Jump 2</a></li>
		<li><a href="MegaRunAndroid.php">Mega Run</a></li>
		<li><a href="TaikoAndroid.php">Taiko</a></li>
	</ul>
</p>
</h3>

<h2>Win32</h2>
<h3>
<p>
	<ul>
		<li><a href="TaikoWin32.php">Taiko</a></li>
	</ul>
</p>
</h3>

<h2>Mac</h2>
<h3>
<p>
	<ul>
		<li><a href="TaikoMac.php">Taiko</a></li>
	</ul>
</p>
</h3>

<h2>Qt</h2>
<h3>
<p>
	<ul>
		<li><a href="megajump_installer.sis">Mega Jump 1.0</a></li>
	</ul>
</p>
</h3>

</body>
</html>
